/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: 'Arial', sans-serif;
    background: url('../IMAGES/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  /* Frosted Glass Effect */
  .frosted-container {
    backdrop-filter: blur(10px) brightness(90%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-satrt;
    width: 100%;
    max-width: 1200px;
    height: auto;
    min-height: 70vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  /* Navigation Panel Styles */
.nav-panel {
    position: fixed;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(145deg, #f0f0f0, #cccccc);
    border-radius: 50px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .nav-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: #f0f0f0;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
  }
  
  .nav-icon img {
    width: 60%;
    height: 60%;
    display: block;
    margin: 7.5px;
    padding: 3px;
  }
  
  .nav-icon:hover {
    background: #ffd700; /* Highlight color on hover */
    transform: scale(1.1);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.8);
  }
  
  .upload-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  .upload-container {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
  }
  
  .upload-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .upload-box {
    border: 2px solid #757171;
    width: 120px;
    height: 140px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .upload-box.large {
    border: 2px dashed #757171;
    width: 300px;
    height: 350px;
    position: relative;
    transition: all 0.3s;
  }
  
  .upload-box.large:hover {
    border-color: #4CAF50;
  }
  
  .upload-box img {
    max-width: 95%;
    max-height: 95%;
  }
  
  .upload-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: #666;
    font-weight: bold;
  }
  
  .upload-instruction {
    font-size: 0.9rem;
    color: #888;
    margin-top: 10px;
  }
  
  .instructions-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .instructions-container h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #242424;
    margin-bottom: 20px;
  }
  
  .instructions-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .next-step-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #FFC107; /* Yellow Button */
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .next-step-btn:hover {
    background-color: #ffb300;
  }
  