* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: 'Arial', sans-serif;
    background: url('../IMAGES/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  /* Frosted Glass Effect */
  .frosted-container {
    backdrop-filter: blur(10px) brightness(90%);
    background: rgba(31, 17, 31, 0.541);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    height: auto;
    min-height: 80vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .upload-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
    color: white;
  }
  
  .upload-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  
  .upload-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .upload-box {
    border: 4px solid #757171;
    width: 120px;
    height: 140px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
  }
  
  .upload-box.large {
    border: 4px dashed #757171;
    width: 250px;
    height: 320px;
    position: relative;
    transition: all 0.3s;
  }
  
  .upload-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .upload-box:hover {
    border-color: rgb(187, 19, 117);
  }
  
  .upload-box:hover span {
    color: rgb(187, 19, 117);
  }
  
  .upload-box:hover .hover-overlay {
    display: flex;
  }
  
  .upload-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: #666;
    font-weight: bold;
  }
  
  .measurements-container {
    width: 45%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 800px;
    margin: 20px;
  }

  .measurements-container h3 {
    margin-bottom: 10px;
    grid-column: span 2;
    text-align: center;
  }
  
  .measurements-container input {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .next-step-btn, .save-btn {
    margin: 10px;
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .next-step-btn {
    background-color:  rgb(238, 66, 132);
    color: white;
  }
  
  .next-step-btn:hover {
    background-color:  rgb(187, 19, 117);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .save-btn {
    background-color: rgb(84, 175, 84);
    color: white;
  }
  
  .save-btn:hover {
    background-color: rgb(44, 126, 44);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .delete-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .delete-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
  }
  
  .delete-btn:hover .delete-icon {
    transform: scale(1.1);
  }
  
  .save-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.884);
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .save-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .save-popup-content input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .save-confirm-btn, .save-cancel-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-confirm-btn {
    background-color: rgb(84, 175, 84);
    color: white;
  }
  
  .save-cancel-btn {
    background-color: rgb(238, 66, 132);
    color: white;
  }
  
  .saved-details-btn {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .saved-details-icon {
    fill: white;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease;
  }
  
  .saved-details-icon:hover {
    transform: scale(1.1);
  }

  .saved-names-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.884);
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .saved-names-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .saved-name {
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .saved-name:hover {
    transform: scale(1.1);
  }
  
  .close-popup-btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(238, 66, 132);
    color: white;
  }