* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background: url('../IMAGES/background.png') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.frosted-container {
  backdrop-filter: blur(10px) brightness(90%);
  background: rgba(29, 13, 29, 0.658);
  border-radius: 20px;
  padding: 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  height: auto;
  min-height: 70vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.upload-section{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
}

.upload-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
}

.upload-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.upload-box {
  border: 4px solid #757171;
  width: 120px;
  height: 140px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.upload-box.large {
  border: 4px dashed #757171;
  width: 250px;
  height: 320px;
  position: relative;
  transition: all 0.3s;
}

.upload-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-box:hover {
  border-color:rgb(238, 66, 132);
}

.upload-box:hover span{
  color:rgb(238, 66, 132);
}

.upload-box:hover .hover-overlay {
  display: flex;
}

.upload-box span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: #666;
  font-weight: bold;
}

.instructions-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 10%;
  transform: translateY(-10px);
}

.instructions-container h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 5px;
}

.instructions-container p {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
}

.next-step-btn {
  padding: 10px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(238, 66, 132);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-step-btn:hover {
  background-color: rgb(187, 19, 117);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.hover-overlay .delete-btn {
  background: rgba(73, 68, 68, 0.856);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}

.hover-overlay .delete-btn:hover {
  background: black;
}

.hover-overlay .delete-btn .delete-icon {
  fill: white;
  width: 30px; 
  height: 30px; 
  transition: transform 0.2s ease;
}

.save-btn {
  display: inline-block;
  margin-left: 15px;
  padding: 10px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(84, 175, 84);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-btn:hover {
  background-color:rgb(44, 126, 44); 
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.saved-image-container {
  position: absolute;
  color: white;
  top: 57%;
  left: 50%;
  transform: translateY(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 90%;
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 10px;
}

.saved-image {
  width: 100px;
  height: 120px;
  border-radius: 15px;
  object-fit: cover;
  border: 4px solid #757171;
  overflow: hidden;
}

.saved-image:hover {
  border-color:rgb(238, 66, 132);
}

.saved-images {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.saved-image img{
  width: 100%;
  height: 100%;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.back-arrow-icon {
  width: 30px;
  height: 30px;
  fill: white;
}

.avatar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 133, 133, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.avatar-message{
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  max-width: 80%;
}

.avatar-overlay, .avatar-message {
  animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in 2.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}